
<ion-view view-title="Pitchers">
    <ion-content>

	PITCHERS

<ion-list class="">
	<ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-repeat="p in pitchers">
		{{p.name}}
	</ion-item>
</ion-list>

<div class="list">
	<a class="item item-icon-left" >
		<i class="icon ion-email"></i> 
		Check mail </a>
		<a class="item item-icon-left" >
			<i class="icon ion-mic-a"></i> 
			Record album 
			<span class="item-note"> Grammy </span>
		</a>
		<a class="item item-icon-left" >
			<i class="icon ion-person-stalker"></i> 
			Friends 
			<span class="badge badge-assertive">0</span>
		</a>
	</div>


	</ion-content>
</ion-view>