
<ion-view view-title="Motion Lists">
    <ion-content>

		<h1 class="account-title center-align">START</h1>
	    <div class="list">
	      <label class="item item-input">
	        <input type="text" placeholder="Title" ng-model="edit.task.title">
	      </label>
	      <label class="item item-input">
	        <input type="text" placeholder="Task Description" ng-model="edit.task.body">
	      </label>
	      <button class="button button-full button-positive" ng-click="edit.save()">Submit</button>
	    </div>

	</ion-content>
</ion-view>